<div class="gradient-border"></div>
<footer class="footer">
    <!-- Site Footer -->
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-3 offset-1 offset-lg-0">
                <div class="footer-about">
                    <div class="footer-about-logo">
                        <a href="/"></a>
                    </div>
                <div class="footer-about-content">
                    <p>Whether you want to focus on intensive language study or need courses in English; want a big city or small town; USAC has something for you.</p>
                </div>
                <div class="footer-about-social-icons">
                    <a href="#" class="footer-social-icon footer-social-icon-instagram"></a>
                    <a href="#" class="footer-social-icon footer-social-icon-facebook"></a>
                    <a href="#" class="footer-social-icon footer-social-icon-twitter"></a>
                </div>
            </div>
        </div>
        <div class="col-10 col-lg-3 offset-1 offset-lg-0">
            <div class="footer-menu">
                <div class="footer-menu-title">Resources</div>
                <ul>
                    <li><a href="#">Alumni</a></li>
                    <li><a href="#">Advisors</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10 col-lg-3 offset-1 offset-lg-0">
            <div class="footer-menu">
                <div class="footer-menu-title">General Info</div>
                    <ul>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Programs</a></li>
                        <li><a href="#">Health & Safety</a></li>
                        <li><a href="#">Financing You Study</a></li>
                        <li><a href="#">Study Abroad 101</a></li>
                    </ul>
                </div>
            </div>
        <div class="col-10 col-lg-3 offset-1 offset-lg-0">
            <div class="footer-menu">
                <div class="footer-menu-title">USAC</div>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Gateway Login</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Employment Opportunities</a></li>
                        <li><a href="#">Your Gateway to US Universities</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-sm-center text-lg-left mt-2 mb-2">
                    <a href="#">Terms & Conditions</a>
                </div>
                <div class="col-12 col-lg-6 text-sm-center text-lg-right mt-2 mb-2">
                    &copy;2019 USAC | All rights reserved
                </div>
            </div>
        </div>
    </div>
   <!-- Site Footer End -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <!-- Jquery Slim doesn't include support for a couple of helpful functions -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <!-- Minified Drilldown Menu Files 14.97KB of JS -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/plugins/foundation.core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/plugins/foundation.util.keyboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/plugins/foundation.util.nest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/plugins/foundation.util.box.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/plugins/foundation.drilldown.min.js"></script>
    <!-- End Drilldown Menu Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/assets/js/app.js"></script>
</footer>
