<header class="header">
    <div class="header-container">
        <button id="menu-button" class="header-menu-button"><i class="fas fa-bars fa-1x"></i></button>
        <div class="header-logo">
            <a href="/"></a>
        </div>
        <div class="header-cta">
            <a href="#" class="btn btn-primary apply">Apply Now</a>
        </div>
    </div>
</header>
