<!-- Cutup Menu -->
<header class="site-menu">
    <div class="site-menu-sticky">
        <div class="btn-group site-menu-cta-container" role="group" aria-label="Menu button group">
            <a class="btn btn-primary btn-no-border-radius" href="#">Apply Now</a>
            <a class="btn btn-tertiary btn-no-border-radius" href="#">Request info</a>
        </div>
        <div class="site-menu-logo">
            <img class="site-menu-logo-image" src="/assets/svgs/logo-vertical.svg" alt="">
            <div class="site-menu-logo-text">Your <span class="site-menu-logo-text site-menu-logo-text-alt">Gateway</span> to the <span class="site-menu-logo-text site-menu-logo-text-alt">World</span></div>
        </div>
        <div class="site-menu-container">
            <section role="navigation">
                <nav class="navbar">
                    <form class="form-row w-100" action="">
                        <input type="search" placeholder="Search Anything..." class="col-9 pl-3 pt-3 pb-3 site-menu-search-input">
                        <button type="submit" class="btn btn-primary btn-no-border-radius col-3 site-menu-search-submit"><i class="fas fa-search"></i></button>
                    </form>
                    <ul id="main-menu" class="nav flex-column w-100 js-drilldown-menu menu" data-drilldown data-back-button='<li class="js-drilldown-back pt-3 pb-3"><a class="custom-back"></a></li>'>
                        {% assign parent-name = "Home" %}
                        <li class="nav-item">
                            <a href="https://google.com" class="site-menu-link pt-3 pb-3">Locations</a>
                            <a class="nav-link site-menu-nav-button site-menu-nav-button-right"><i class="fas fa-caret-right"></i></a>
                            <!-- The sub-menu variable is only being used since I'm not actually looping through and creating menu items Not needed for dev, just assign the parent -->
                            {% assign sub-menu-name = "Locations" %}
                            {% include global/sub-menu.html %}
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com" class="site-menu-link pt-3 pb-3">Courses</a>
                            <a class="nav-link site-menu-nav-button site-menu-nav-button-right"><i class="fas fa-caret-right"></i></a>
                            <!-- The sub-menu variable is only being used since I'm not actually looping through and creating menu items Not needed for dev, just assign the parent -->
                            {% assign sub-menu-name = "Courses" %}
                            {% include global/sub-menu.html %}
                        </li>
                        <li class="nav-item">
                            <a href="https://youtube.com" class="site-menu-link pt-3 pb-3">Study Abroad 101</a>
                            <a class="nav-link site-menu-nav-button site-menu-nav-button-right"><i class="fas fa-caret-right"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitch.com" class="site-menu-link pt-3 pb-3">About USAC</a>
                            <a class="nav-link site-menu-nav-button site-menu-nav-button-right"><i class="fas fa-caret-right"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://pinterest.com" class="site-menu-link pt-3 pb-3">Contact Us</a>
                            <a class="nav-link site-menu-nav-button site-menu-nav-button-right"><i class="fas fa-caret-right"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://yelp.com" class="nav-link pt-3 pb-3">Gateway Login</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
</header>
