<ul class="sub-menu vertical menu" data-current-location={{ parent-name }}>
    <li class="nav-item">
        <div class="site-menu-current-location p-3"></div>
    </li>
    <li class="nav-item">
        <a href="#" class="site-menu-link pt-3 pb-3">Sub Location 1</a>
        <a class="nav-link site-menu-nav-button site-menu-nav-button-right"><i class="fas fa-caret-right"></i></a>
        <!-- This is a repeat of the sub-menu.htm partial, I didn't include that in here to limit the cutup menu depth. -->
        <ul class="sub-menu vertical menu" data-current-location={{ sub-menu-name }}>
            <li class="nav-item">
                <div class="site-menu-current-location p-3"></div>
            </li>
            <li class="nav-item">
                <a href="/usac-city.html" class="site-menu-link pt-3 pb-3">Super Sub Location 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="site-menu-link pt-3 pb-3">Super Sub Location 2</a>
            </li>
            <li class="nav-item site-menu-main-menu-link">
                <a class="pt-3 pb-3">Main Menu</a>
            </li>
        </ul>
        <!-- End repeat sub-menu.html partial -->
    </li>
    <li class="nav-item">
        <a href="#" class="site-menu-link pt-3 pb-3">Sub Location 2</a>
        <a class="nav-link site-menu-nav-button site-menu-nav-button-right"><i class="fas fa-caret-right"></i></a>
        <!-- This is a repeat of the sub-menu.htm partial, I didn't include that in here to limit the cutup menu depth -->
        <ul class="sub-menu vertical menu" data-current-location={{ sub-menu-name }}>
            <li class="nav-item">
                <div class="site-menu-current-location p-3"></div>
            </li>
            <li class="nav-item">
                <a href="#" class="site-menu-link pt-3 pb-3">Super Sub Location 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="site-menu-link pt-3 pb-3">Super Sub Location 2</a>
            </li>
            <li class="nav-item site-menu-main-menu-link">
                <a class="pt-3 pb-3">Main Menu</a>
            </li>
        </ul>
        <!-- End repeat sub-menu.html partial -->
    </li>
    <li class="nav-item site-menu-main-menu-link">
        <a class="pt-3 pb-3">Main Menu</a>
    </li>
</ul>
