---
layout: default
title: USAC Desktop Homepage
---
<main>
    {% include sections/hero-section.html %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include components/filter-bar.html %}
            </div>
        </div>
        <div class="row mb-5 mb-lg-8 pb-5 pb-lg-8 bottom-border">
            <div class="col">
                <!-- Liquid Variable setting, don't include in actual development!. This is just letting us change what content is showing in the cutup -->
                {% assign title = "University Studies Abroad Consortium." %}
                {% capture content %}
                <p>
                    For more than 35 years, USAC has provided university students with affordable, valuable
                    study abroad programs and contributed to the internationalization of universities in the
                    US and abroad. We currently have program locations in 28 countries with many locations
                    unique for study abroad. Students from any university are welcome to participate;
                    students from more than 800 universities around the world have gone on a USAC program.
                </p>
                {% endcapture %}
                {% assign useCTAGroup = true %}
                {% assign centeredTitle = true %}
                <!-- Liquid Variables End -->

                {% include components/content-section.html %}
            </div>
        </div>
        <!-- Liquid Variables -->
        {% assign reverseDirection = false %}
        {% assign bottomBorder = true %}
        <!-- Liquid Variables End -->

        <!-- Color Splash Section  -->
        {% include sections/color-splash-section.html %}
    </div>
    <div>
        <!-- USAC News Section -->
        <div class="row">
            {% assign title = 'Latest USAC News'%}
            <div class="col-12 mb-5 text-center">
                <h3 class="content-section-title">{{ title }}</h3>
                <a class="btn btn-primary btn-trailing-carat" href="#">View All</a>
            </div>
        </div>
        {% include sections/slick-carousel.html %}
        <!-- USAC News Section End-->
    </div>
    <div class="container">
        <!-- Content Section Start -->
        <div class="row mb-5 mb-lg-0">
            <!-- Liquid Variable setting, don't include in actual development!. This is just letting us change what content is showing in the cutup -->
            {% assign title = "50 Programs in 28 Countries Worldwide" %}
            {% capture content %}
            <p>
                USAC currently offers more than 50 programs across 28 countries. Whether you want to focus on intensive
                language study or need courses in English; want a big city or small town; USAC has
                something for you. Use <a href="#">the program</a> search to find a program that best meets your needs.
            </p>
            {% endcapture %}
            {% assign useCTAGroup = false %}
            {% assign centeredTitle = true %}
            <!-- Liquid Variables End -->

            <div class="col-12 col-md-4">
                <h2 class="content-section-title text-sm-center text-md-right">{{ title }}</h2>
            </div>
            <div class="col-12 col-md-7">
                <div class="content-section-content">
                    {{ content}}
                    <a href="#" class="btn btn-primary btn-trailing-carat">Find Your Location</a>
                </div>
            </div>
        </div>
    </div>
    {% include components/jumbotron-image-separator.html %}
    {% assign reverseDirection = true %}
    {% assign bottomBorder = false %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include sections/color-splash-section.html %}
            </div>
        </div>
    </div>
    <!-- Content Section End-->

</main>
