---
layout: default
title: USAC Desktop Homepage
---

<main>
    {% include sections/hero-section.html %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include components/filter-bar.html %}
            </div>
        </div>
        <div class="row mb-5 mb-lg-8 pb-5 pb-lg-8 bottom-border">
            <div class="col">
                <!-- Liquid Variable setting, don't include in actual development!. This is just letting us change what content is showing in the cutup -->
                {% assign title = "University Studies Abroad Consortium." %}
                {% capture content %}
                <p>
                    For more than 35 years, USAC has provided university students with affordable, valuable
                    study abroad programs and contributed to the internationalization of universities in the
                    US and abroad. We currently have program locations in 28 countries with many locations
                    unique for study abroad. Students from any university are welcome to participate;
                    students from more than 800 universities around the world have gone on a USAC program.
                </p>
                {% endcapture %}
                {% assign useCTAGroup = true %}
                {% assign centeredTitle = true %}
                <!-- Liquid Variables End -->

                {% include components/content-section.html %}
            </div>
        </div>
        <!-- Liquid Variables -->
        {% assign reverseDirection = false %}
        {% assign bottomBorder = true %}
        <!-- Liquid Variables End -->

        <!-- Color Splash Section  -->
        {% include sections/color-splash-section.html %}

        <!-- USAC News Section -->
        {% include sections/news-section.html %}
        <!-- USAC News Section End-->

        <!-- Content Section Start -->
        <div class="row mb-5 mb-lg-0">
            <!-- Liquid Variable setting, don't include in actual development!. This is just letting us change what content is showing in the cutup -->
            {% assign title = "50 Programs in 28 Countries Worldwide" %}
            {% capture content %}
            <p>
                USAC currently offers more than 50 programs across 28 countries. Whether you want to focus on intensive
                language study or need courses in English; want a big city or small town; USAC has
                something for you. Use <a href="#">the program</a> search to find a program that best meets your needs.
            </p>
            {% endcapture %}
            {% assign useCTAGroup = false %}
            {% assign centeredTitle = true %}
            <!-- Liquid Variables End -->

            <div class="col-12 col-md-4">
                <h2 class="content-section-title text-sm-center text-md-right">{{ title }}</h2>
            </div>
            <div class="col-12 col-md-7">
                <div class="content-section-content">
                    {{ content}}
                    <a href="#" class="btn btn-primary btn-trailing-carat">Find Your Location</a>
                </div>
            </div>
        </div>
        <!-- Content Section End-->
    </div>
    <!-- Jumbotron Image Separator -->
    {% include components/jumbotron-image-separator.html %}
    <!-- Jumbotron Image Separator End -->

    <div class="container">
        <!-- Liquid Variables -->
        {% assign reverseDirection = true %}
        {% assign bottomBorder = false %}
        <!-- Liquid Variables End -->

        <!-- Color Splash Section  -->
        {% include sections/color-splash-section.html %}
        <!-- Color Splash Section End -->
    </div>

    <!-- ************************************************************************************** -->
    <!-- From here on down, I'm just building patterns here to get a rough build on everything. -->
    <!-- ************************************************************************************** -->
    <div class="container">

        <!-- Card - Text -->
        <!-- The current method for acheiving this look isn't supported on IE11 -->

        <div class="card-deck mb-8">
            {% include components/cards/card-text.html %}
            {% include components/cards/card-text.html %}
            {% include components/cards/card-text.html %}
        </div>

        <!-- Card - Text End -->

        <!-- Card - Location -->
        <div class="card-deck mb-8">
            {% include components/cards/card-location.html %}
            {% include components/cards/card-location.html %}
            {% include components/cards/card-location.html %}
        </div>
        <!-- Card - Location End -->
    </div>
    <!-- Carousel Image -->
    {% include sections/image-carousel-section.html %}
    <!-- Carousel Image End -->

    <!-- Image Grid -->
    {% include sections/image-grid-section.html %}
    <!-- Image Grid End -->

    <!-- CTA Bar -->
    {% include sections/cta-bar-section.html %}
    <!-- CTA Bar End -->

    <!-- Accordion -->
    {% include sections/accordion.html %}
    <!-- Accordion End -->

    <div class="container">
        <!-- Pagination aka Btn-Group -->
        <!-- Pagination aka Btn-Group -->

        <!-- Modal -->
        {% include sections/modal.html %}
        <!-- Modal End -->

        <!-- Liquid Variable setting, don't include in actual development! -->
        {% assign dark = false %}
        <!-- Liquid Variable setting end -->

        <!-- Dropdown Light -->
        {% include sections/dropdown.html %}
        <!-- Dropdown Light End -->

        <!-- Liquid Variable setting, don't include in actual development! -->
        {% assign dark = true %}
        <!-- Liquid Variable setting end -->

        <!-- Dropdown Dark -->
        {% include sections/dropdown.html %}
        <!-- Dropdown Dark End -->

        <!-- Card Course-->
        {% include components/cards/card-course.html %}
        <!-- Card Course End-->

        <!-- List Group -->
        {% include sections/list-group.html %}
        <!-- List Group End -->
    </div>

    <!-- Jumbotron -->
    {% include sections/jumbotron.html %}
    <!-- Jumbotron End -->

    <div class="container">

        <!-- Forms -->
        {% include sections/forms.html %}
        <!-- Forms End -->

        <!-- Course Details-->
        {% include sections/course-details.html %}
        <!-- Course Details End-->

        <!-- Icon List -->
        {% include sections/icon-list.html %}
        <!-- Icon List End-->

        <!-- Pagination Section -->
        {% include sections/pagination.html %}
        <!-- Pagination Section End-->

        <!-- Pagination Section -->
        {% include sections/pagination-dark.html %}
        <!-- Pagination Section End-->

        <!-- Quote Section -->
        {% include components/quote-section.html %}
        <!-- Quote Section End-->

        {% assign breadcrumb1 = 'Study Abroad 101'%}
        {% assign breadcrumb2 = 'The Ultimate Guide'%}
        {% assign breadcrumb3 = 'Why Study Abroad'%}
        <!-- Quote Section -->
        <div class="container mt-5 mb-5">
            {% include sections/breadcrumbs.html %}
        </div>
        <!-- Quote Section End-->

    </div>

</main>
