---
layout: default
title: USAC Homepage
---

<main>
    {% assign breadcrumb1 = 'Study Abroad 101'%}
    {% assign breadcrumb2 = 'The Ultimate Guide'%}
    {% assign breadcrumb3 = 'Why Study Abroad'%}
    {% include sections/breadcrumbs.html%}
    {% include sections/hero-cta-group.html%}
    <div class="container container-fluid study-abroad-content">
        <div class="row">
            <div class="col">
                <h4>
                    Perhaps you're reading this because you're not completely sure whether or not you're ready to go
                    abroad. You
                    may
                    be asking, why study abroad? I didn't make my decision until a week before the application was due
                    (not
                    soemthing I would recommend by the way). I could say that i fyou really don't think it's for you
                    then don't
                    go,
                    but I don't believe that. It's only natural to be a bit fearful of change and facing new and
                    challenging
                    experiences.
                </h4>
                <p>Anyone who has even a remote desire to go abroad should decide to do it, in my humble opinion,
                    anyway. For
                    some
                    reason you can't last the semester or year and you have ot ocme hom , what's the worst that can
                    happen? You
                    lose
                    one semester of school and graduate when youre 23 instead of 22. In the scheme of life, that's not
                    that big
                    a
                    difference, and the chances of that happening are minimal.
                </p>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mt-5">
        <div class="row">
            {% assign title = 'Previous Student Experiences'%}
            <div class="col-12 mb-5 text-center">
                <h2 class="content-section-title">{{ title }}</h2>
                <a class="btn btn-primary btn-trailing-carat" href="#">View All</a>
            </div>
        </div>
        <div class="slick-carousel mt">
            <div class="card-experience-slick">
                {% include components/cards/card-experience.html %}
            </div>
            <div class="card-experience-slick">
                {% include components/cards/card-experience.html %}
            </div>
            <div class="card-experience-slick">
                {% include components/cards/card-experience.html %}
            </div>
            <div class="card-experience-slick">
                {% include components/cards/card-experience.html %}
            </div>
            <div class="card-experience-slick">
                {% include components/cards/card-experience.html %}
            </div>
            <div class="card-experience-slick">
                {% include components/cards/card-experience.html %}
            </div>
        </div>
    </div>
    <div class="container container-fluid study-abroad-content">
        <div class="row">
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat tellus vel justo
                    vestibulum,
                    non ornare risus maximus. Pellentesque accumsan pellentesque pharetra. Phasellus eget dolor a tortor
                    rhoncus euismod. Suspendisse vitae mattis ipsum, nec ullamcorper lectus. Praesent lobortis, tellus
                    sed
                    imperdiet gravida, lacus dui lacinia neque, sed bibendum erat lectus sit amet ligula. Quisque
                    hendrerit
                    convallis nulla, sit amet laoreet augue dignissim non. Suspendisse felis nunc, pharetra vitae leo
                    non,
                    eleifend lobortis enim. Integer tincidunt, nibh facilisis tempus tempor, nulla urna mollis quam, sed
                    finibus sem dolor vitae magna. Sed accumsan pulvinar nisi, nec tempor lacus.
                </p>
                <h3>
                    Region and Climate
                </h3>
                <p>
                    Overlooking the beautiful Mediterranean Sea, Alicante's sunny climate, beautiful beaches, tall
                    mountaints,
                    monthly festivals, and rich culture and nightlife beckon to you. Alicante's broad, four-mile-long
                    beach of
                    San Juan is considered one of the finest in all of spain due to its size, services, and upkeep.
                    Sunbathing,
                    swimming, windsurfing, sailing, snorkeling, scuba diving, and more are available. Students are sure
                    to find
                    many cozy cafes and entertaining night spots throughout the city, and the Old Quarter of town, El
                    Barrio, is
                    overflowing with popular cafes set amongst traditional archetecture. Alicante's port, Elpurerto, is
                    the most
                    modern area of leisure and entertaintment.
                </p>
            </div>
        </div>
    </div>

    <!-- Jumbotron Image Separator -->
    {% include components/jumbotron-image-separator.html %}
    <!-- Jumbotron Image Separator End -->

    <div class="container container-fluid">
        <div class="row">
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat tellus vel justo
                    vestibulum,
                    non ornare risus maximus. Pellentesque accumsan pellentesque pharetra. Phasellus eget dolor a tortor
                    rhoncus euismod. Suspendisse vitae mattis ipsum, nec ullamcorper lectus. Praesent lobortis, tellus
                    sed
                    imperdiet gravida, lacus dui lacinia neque, sed bibendum erat lectus sit amet ligula. Quisque
                    hendrerit
                    convallis nulla, sit amet laoreet augue dignissim non. Suspendisse felis nunc, pharetra vitae leo
                    non,
                    eleifend lobortis enim. Integer tincidunt, nibh facilisis tempus tempor, nulla urna mollis quam, sed
                    finibus sem dolor vitae magna. Sed accumsan pulvinar nisi, nec tempor lacus.
                </p>
                <h3>
                    Region and Climate
                </h3>
                <p>
                    Overlooking the beautiful Mediterranean Sea, Alicante's sunny climate, beautiful beaches, tall
                    mountaints,
                    monthly festivals, and rich culture and nightlife beckon to you. Alicante's broad, four-mile-long
                    beach of
                    San Juan is considered one of the finest in all of spain due to its size, services, and upkeep.
                    Sunbathing,
                    swimming, windsurfing, sailing, snorkeling, scuba diving, and more are available. Students are sure
                    to find
                    many cozy cafes and entertaining night spots throughout the city, and the Old Quarter of town, El
                    Barrio, is
                    overflowing with popular cafes set amongst traditional archetecture. Alicante's port, Elpurerto, is
                    the most
                    modern area of leisure and entertaintment.
                </p>
            </div>
        </div>
    </div>

    <!-- cta-bar -->
    {% include sections/cta-bar-section.html %}
    <!-- cta-end -->

    <div class="container container-fluid">
        <!-- News Slider -->
        {% assign title = 'More Articles in this Guide'%}
        <div class="row mt-5 mt">
            <div class="col-12 mb-5 text-center">
                <h2 class="content-section-title">{{ title }}</h2>
                <a class="btn btn-primary btn-trailing-carat" href="#">View All</a>
            </div>
        </div>
    </div>
    {% include sections/slick-carousel.html %}
    <!-- News Slider End -->


</main>
