---
layout: default
title: USAC Homepage
---

<!-- <main> -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal Testing!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- </main> -->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Image Carousel</h1>
        </div>
    </div>
    <div>
        <div class="slick-carousel" role="listbox">
            {% for i in (1..6) %}
            <div class="slick-img-container">
                {% include components/cards/card-blog.html %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Google Maps -->
<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9kvIPg2fiPTzKBB-6sa6bTvUr0d5xzyY&q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe> -->
