---
layout: default
title: USAC City
---

<main>
    {% assign breadcrumb1 = 'Locations'%}
    {% assign breadcrumb2 = 'Spain'%}
    {% assign breadcrumb3 = 'Alicante'%}
    {% include sections/breadcrumbs.html%}
    {% include sections/hero-cta-group.html%}

    <!-- Course Details-->
    {% include sections/course-details.html %}
    <!-- Course Details End-->

    <!-- Icon List -->
    {% include sections/icon-list.html %}
    <!-- Icon List End-->

    <!-- page content -->
    <div class="container container-fluid">
        <div class="row">
            <div class="col">
                <h2>
                    Why Study in Alicante?
                </h2>
                <p>
                    Come to alicante to study Spanish and European/Mediterranean studies and ilve in a beautiful cityon
                    the
                    southeast coast of Spain. Alicante is a modern welcoming city bathed by the Mediterranean Sea, whcih
                    offers
                    all the advantages of being located in such a setting. The magnificent sandy beaches and blue waters
                    of the
                    coast, sunny weather, rich history, and lovely monuments make Alicante a top destination in Spain.
                </p>
                <h3>Opportunities</h3>
                <p>
                    You will have the opportunity to study the Spanish language and the complexities of Spanis and
                    contemporary
                    European societies through a wide selection of academic courses, as well as through personal
                    interaction
                    with the host culture. Alicante is home to the "Casa del Mediterráneo" which is a Government
                    institution to
                    promote the mutual knowledge, interaction and understanding among the Mediterranean countries. It is
                    also
                    home to the OAMI, the European Union Office for Harmonization in the Internal Market for Trade Marks
                    and
                    Designs. An intensive language approach allows you to complete up to two years of university foreign
                    language sutyd in one semester. In addition to the USAC courses, adnvanced language sutdents can
                    academic
                    courses, workshops and internships a tthe University of Alicante, providing and unparalleled
                    opportunity for
                    integration. You may even have local students in you rUSAC courses. Combine your work in teh
                    classroom with
                    field trips, field studis to MAadrid and Morocco, cultural events, and village festivals outside the
                    classroom. You may stay for one semester or a full wyear.
                </p>
                <!-- Quote Section -->
                {% include components/quote-section.html %}
                <!-- Quote Section End-->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat tellus vel justo
                    vestibulum,
                    non ornare risus maximus. Pellentesque accumsan pellentesque pharetra. Phasellus eget dolor a tortor
                    rhoncus euismod. Suspendisse vitae mattis ipsum, nec ullamcorper lectus. Praesent lobortis, tellus
                    sed
                    imperdiet gravida, lacus dui lacinia neque, sed bibendum erat lectus sit amet ligula. Quisque
                    hendrerit
                    convallis nulla, sit amet laoreet augue dignissim non. Suspendisse felis nunc, pharetra vitae leo
                    non,
                    eleifend lobortis enim. Integer tincidunt, nibh facilisis tempus tempor, nulla urna mollis quam, sed
                    finibus sem dolor vitae magna. Sed accumsan pulvinar nisi, nec tempor lacus.
                </p>
                <h3>Region and Climate</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat tellus vel justo
                    vestibulum,
                    non ornare risus maximus. Pellentesque accumsan pellentesque pharetra. Phasellus eget dolor a tortor
                    rhoncus euismod. Suspendisse vitae mattis ipsum, nec ullamcorper lectus. Praesent lobortis, tellus
                    sed
                    imperdiet gravida, lacus dui lacinia neque, sed bibendum erat lectus sit amet ligula. Quisque
                    hendrerit
                    convallis nulla, sit amet laoreet augue dignissim non. Suspendisse felis nunc, pharetra vitae leo
                    non,
                    eleifend lobortis enim. Integer tincidunt, nibh facilisis tempus tempor, nulla urna mollis quam, sed
                    finibus sem dolor vitae magna. Sed accumsan pulvinar nisi, nec tempor lacus.
                </p>
            </div>
        </div>

        <!-- Color Splash Section -->
        {% assign reverseDirection = true %}
        {% assign bottomBorder = false %}
        {% include sections/color-splash-section.html %}
    </div>
    <!-- City Map -->
    {% include sections/city-map.html %}

    <div class="container">
        <!-- Card Carousel -->
        {% assign title = 'Latest About Alicante'%}
        <div class="row mt-5 mb-5">
            <div class="col-12 mb-5 text-center">
                <h2 class="content-section-title">{{ title }}</h2>
                <a class="btn btn-primary btn-trailing-carat" href="#">View All</a>
            </div>
            {% include sections/slick-carousel.html%}
        </div>
    </div>

    <!-- Image Grid -->
    {% include sections/image-grid-section.html %}

    <!-- CTA Bar -->
    {% include sections/cta-bar-section.html %}

    {% assign title = 'More Articles in this Guide'%}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12 mb-5 text-center">
                <h2 class="content-section-title">{{ title }}</h2>
                <a class="btn btn-primary btn-trailing-carat" href="#">View All</a>
            </div>
            <div class="slick-carousel">
                {% include components/cards/card-location.html %}
                {% include components/cards/card-location.html %}
                {% include components/cards/card-location.html %}
                {% include components/cards/card-location.html %}
                {% include components/cards/card-location.html %}
                {% include components/cards/card-location.html %}
            </div>
        </div>
    </div>
    <div>
        {% include sections/cta-bar-section.html %}
    </div>
</main>
