---
layout: default
title: USAC Homepage
---

<main>
    {% assign breadcrumb1 = 'Locations'%}
    {% assign breadcrumb2 = 'Spain'%}
    {% assign breadcrumb3 = 'Alicante'%}
    {% include sections/breadcrumbs.html%}
    {% include sections/hero-cta-group.html%}
    {% include sections/course-details.html %}
    <!-- page content -->
    <div class="container">
        <div class="row">
            <div class="col courses-content">
                <h4>
                    Studying abroad can be a more meaningful and invigorating learning experience than at home --both
                    inside and
                    outside of the classroom. You may be more curious and aler thatn you usually are so use this
                    heightened
                    enregy to enhance your studies as well as your cultural and geographical explorations. You may also
                    encounter different teaching styles and course processes; be prepared to adapt and to learn.
                </h4>
                <h2>
                    Academics
                </h2>
                <p>
                    You will enroll in 12 to 18 credits per semester comprised of a language study plus electives in
                    Chinese
                    culture and international relations. Course availability is contingent upon studen enrollment and is
                    subject
                    to change.
                </p>
                <h2>
                    Chinese Language Tracks
                </h2>
                <p>
                    USAC offers intensive language courses grouped into tracks in which courses are taught sequentially
                    (back to
                    back) within one semester. If you have already taken the first course in a track, you do not have to
                    take it
                    again for credit, but you must audit to be prepared for success at thte next leel. Language courses
                    are
                    small and typically have a maximum enrollment of 15 students each. Students who do not enrol in a
                    language
                    track must take Elementary CHinese to assimilate omre effectively into Chinese culture and their new
                    living
                    and learning environment.
                </p>
                <h3>
                    Track I (11 credits) - Prerequisite: none
                </h3>
                <div>
                    <ul class="list-style-content">
                        <li class="col">
                            <a href="">Elementary Chinese I</a> (CHI, 100-level, 4 credits)
                        </li>
                        <li class="col">
                            <a href="">Elementary Chinese II</a> (CHI, 100-level, 4 credits)
                        </li>
                        <li class="col">
                            <a href="">Elementary Chinese I</a> (CHI, 200-level, 3 credits)
                        </li>
                    </ul>
                </div>

                <h2 class="mb">Course Descriptions</h2>
                <!-- Card Course-->
                {% for i in (1..13) %}
                <div class="mb-2">
                    {% include components/cards/card-course.html %}
                </div>
                {% endfor %}
                <!-- Card Course End-->
            </div>
        </div>
    </div>
    <!-- cta-bar -->
    <div class="mt-5">
        {% include sections/cta-bar-section.html %}
    </div>
    <!-- cta-end -->
</main>
