<nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">{{ breadcrumb1 }}</a></li>
        <li class="breadcrumb-item"><a href="#">{{ breadcrumb2 }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb3 }}</li>
    </ol>
</nav>
