<div class="jumbotron city-map">
    <iframe frameborder="0"
            style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJnaCSkq5AmYARh_c4dM7FxUA&key=AIzaSyCKafMtVZEwxX4o8EdHhh3R1NUTO1HUsx8"
            allowfullscreen>
    </iframe>
</div>
