{% comment %}
    The reverseDirection just determines if we tack the flex-row-reverse class on the row div
    bottomBorder adds some extra padding and a border colored with the brand's light-gray color
{% endcomment %}

<div class="row justify-content-center {% if reverseDirection %}flex-row-reverse{% endif %} mb-5 mb-lg-8 {% if bottomBorder %}pb-5 pb-lg-8 bottom-border{% endif %}">
    <div class="col-12 col-lg-7 mb-5 mb-md-0">
        {% include components/color-splash-image.html %}
    </div>
    <div class="col-12 col-lg-5">
        <!-- Liquid Variable setting, don't include in actual development!. This is just letting us change what content is showing in the cutup -->
        {% assign title = "Check out Study Abroad 101." %}
        {% capture content %}
            <p class="font-weight-bold">For more than 35 years, USAC has provided university students with affordable, valuable study abroad.</p>
            <div class="row justify-content-center">
                <div class="col offset-1">
                    <ul>
                        <li>How to study abroad</li>
                        <li>Financing tour study</li>
                        <li>How to get Started</li>
                        <li>And so much more...</li>
                    </ul>
                </div>
            </div>
        {% endcapture %}
        {% assign useCTAGroup = false %}
        {% assign centeredTitle = false %}
        <!-- End Liquid Variables -->

        {% include components/content-section.html %}
        <a href="#" class="btn btn-primary btn-trailing-carat">Start Learning</a>
    </div>
</div>
