<div class="jumbotron jumbotron-fluid">
    <div class="container container-fluid">
        <div class="col course-detail-content">
            <h2 class="text-center">Alicante Quick Details</h2>
            <ul>
                <li>

                </li>
            </ul>
        </div>
        <div class="col">
            <h4></h4>
        </div>
        <div class="col">

        </div>
        <div class="col">
        </div>
    </div>
</div>
