<div class="jumbotron jumbotron-fluid cta-bar-section">
    <div class="cta-bar-section-title">
        <h2 class="text-center">Ready to start your next academic adventure?</h2>
    </div>
    {% include components/cta-group.html %}
</div>