<div class="dropdown">
    <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Select Term
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item {% if dark%}dropdown-item-dark{% endif %}" href="#">2019-20 App. Cycle</a>
        <a class="dropdown-item {% if dark%}dropdown-item-dark{% endif %}" href="#">Eligibility</a>
        <a class="dropdown-item {% if dark%}dropdown-item-dark{% endif %}" href="#">Program Type</a>
        <a class="dropdown-item {% if dark%}dropdown-item-dark{% endif %}" href="#">Program Capacity</a>
    </div>
</div>
