<form>
    <div class="form-group mb-4">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <p>We'll never share your email with anyone else.</p>
    </div>

    <!-- Password Field -->

    <div class="form-group mb-4">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    <div class="form-group mb-4">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    <div class="form-group mb-4">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <!-- File Select -->
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
        <small>This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps
            to a new line.</small>
    </div>
    <!-- File Select End-->

    <!-- Radios -->
    <div class="form-check-radio">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Option one is this and that—be sure to include why it's great
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
                Option two can be something else and selecting it will deselect option one
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
                disabled>
            <label class="form-check-label" for="exampleRadios3">
                Option three is disabled
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Check me out
            </label>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
    <!-- Radios End-->

    <!-- Radio button field with dsiabled option and submit button -->

    <div class="form-group mb-4">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>

    <div class="form-group mb-4">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>

    <h5>Visible Labels</h5>
    <div class="form-inline mb-4">
        <label for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
        <label for="inlineFormInputGroupUsername2">Email</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>


    <h5>Hidden Labels</h5>
    <div class="form-row align-items-center mb-4">
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Name</label>
            <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
        </div>
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
        </div>
        <div class="col-auto my-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                <label class="form-check-label" for="autoSizingCheck2">
                    Remember me
                </label>
            </div>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <!-- Amount and transfer money button area -->
    </div>

    <div class="input-group-transaction mb-4">
        <div class="input-group input-group-transaction mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>

    <h5>Control Sizing</h5>
    <div class="form-row mb-4">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                placeholder="col-form-label-sm">
        </div>
    </div>

    <div class="form-row mb-4">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
        </div>
    </div>

    <div class="form-row mb-4">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg"
                placeholder="col-form-label-lg">
        </div>
    </div>

    <h5>Help Text</h5>
    <div>
        <small class="form-text text-muted">
            Some inline text with a small tag looks like this.
        </small>
        <p class="text-muted">A block of help text that breaks onto a new line and may extend beyond one line.</p>
    </div>

    <div class="mb-4">
        <div>
            <label for="validationServer01">Input with success</label>
            <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name"
                value="Mark" required>
        </div>

        <div>
            <label for="validationServer02">Input with warning</label>
            <input type="text" class="form-control is-warning" id="validationServer02" placeholder="Last name"
                value="Otto" required>
        </div>

        <div>
            <label for="validationServerUsername">Input with danger</label>
            <div class="input-group">
                <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username"
                    aria-describedby="inputGroupPrepend3" required>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label success" for="defaultCheck1">
                Checkbox with success
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label warning" for="defaultCheck2">
                Checkbox with warning
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label danger" for="defaultCheck3">
                Checkbox with danger
            </label>
        </div>
    </div>

    <div class="custom-file mb-4">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
</form>
