<div class="jumbotron jumbotron-fluid hero hero-cta" style="background-image: url('https://picsum.photos/id/911/1200/600');">
    <h1 class="align-text-bottom hero-header">Your <span class="hero-header-alt">Gateway</span> to the <span
            class="hero-header-alt">World</span></h1>
    <div class="container hero-cta-mobile">
        {% include components/cta-group.html %}
    </div>
    <div class="hero-cta-mobile-bar"></div>
</div>
