    <div class="icon-list" role="listbox">
        <div class="icon-list-card">
            <div class="card card-list-item">
                <img src="/assets/svgs/building-solid.svg" class="card-icon" alt="...">
                <div class="card-body">
                    <p class="card-text font-weight-bold">Modern Campus</p>
                </div>
            </div>
        </div>
        <div class="icon-list-card">
            <div class="card card-list-item">
                <img src="/assets/svgs/users-solid.svg" class="card-icon" alt="...">
                <div class="card-body">
                    <p class="card-text font-weight-bold">Cultural Immersion</p>
                </div>
            </div>
        </div>
        <div class="icon-list-card">
            <div class="card card-list-item">
                <img src="/assets/svgs/umbrella-beach-solid.svg" class="card-icon" alt="...">
                <div class="card-body">
                    <p class="card-text font-weight-bold">Ocean & Beaches</p>
                </div>
            </div>
        </div>
        <div class="icon-list-card">
            <div class="card card-list-item">
                <img src="/assets/svgs/glass-cheers-solid.svg" class="card-icon" alt="...">
                <div class="card-body">
                    <p class="card-text font-weight-bold">Cultural Celebrations</p>
                </div>
            </div>
        </div>
        <div class="icon-list-card">
            <div class="card card-list-item">
                <img src="/assets/svgs/headset-solid.svg" class="card-icon" alt="...">
                <div class="card-body">
                    <p class="card-text font-weight-bold">On Campus Support</p>
                </div>
            </div>
        </div>
        <div class="icon-list-card">
            <div class="card card-list-item">
                <img src="/assets/svgs/tachometer-alt-solid.svg" class="card-icon" alt="...">
                <div class="card-body">
                    <p class="card-text font-weight-bold">FastTrack Learning</p>
                </div>
            </div>
        </div>
    </div>
