<!-- To be a jumbotron or not? -->
<div class="jumbotron p-0 image-grid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="row">
                <!-- 1:1 Aspect Ratio -->
                <div class="col-12 col-sm-10 col-md-8 col-lg-3 mx-auto image-grid-col image-grid-mobile-item">
                <img src="https://picsum.photos/id/237/600/600" class="img-fluid" alt="">
                </div>
                <!-- 2:1 Aspect Ratio -->
                <div class="col-lg-6 image-grid-col">
                <img src="https://picsum.photos/id/984/1200/600" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-sm-10 col-md-8 col-lg-3 mx-auto image-grid-col image-grid-mobile-item">
                    <h2 class="image-grid-title mb-3 p-2 text-center">Experiences From Past Participants</h2>
                    <a href="#" class="btn btn-primary btn-trailing-carat">View All</a>
                </div>
            </div>
            <div class="row">
                <!-- 2:1 Aspect Ratio -->
                <div class="col-lg-6 image-grid-col">
                    <img src="https://picsum.photos/id/724/1200/600" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 image-grid-col">
                    <div class="row">
                        <!-- 2:1 Aspect Ratio -->
                        <div class="col-12 image-grid-col">
                            <img src="https://picsum.photos/id/919/1200/600" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <!-- 2:1 Aspect Ratio -->
                        <div class="col-12 image-grid-col">
                            <img src="https://picsum.photos/id/970/1200/600" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!-- 1:1 Aspect Ratio -->
                <div class="col-lg-3 image-grid-col">
                    <img src="https://picsum.photos/id/188/600/600" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>



