<div class="jumbotron jumbotron-fluid carousel-images mb-0">
    <div id="imageCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#imageCarousel" data-slide-to="1"></li>
            <li data-target="#imageCarousel" data-slide-to="2"></li>
            <li data-target="#imageCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item active">
                <img src="https://picsum.photos/id/1040/1200/600" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/984/1200/600" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/919/1200/600" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/970/1200/600" class="d-block w-100" alt="">
            </div>
        </div>
        <a id="test" class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-lg text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#imageCarousel" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-lg text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="carousel-images-content align-text-bottom">
        <h2 class="carousel-images-header mb-3">City, Country</h2>
        {% include components/cta-group.html %}
    </div>
</div>
