<div class="jumbotron">
    <h1 class="jumbotron-title mb-4 mt-5">Study Abroad Locations</h1>
    <p class="jumbotron-content mb-4">For more than 35 years, USAC has provided university students with affordable, valuable study abroad programs and contributed to the internationalization of universities in the US and abroad. We currently have program locations in 28 countries with many locations unique for study abroad. Students from any university are welcome to participate; students from more than 800 universities around the world have gone on a USAC program.</p>
</div>
