<div class="row">
    <ul class="list-group">
        <li class="list-group-item">2019-20 App. Cycle</li>
        <li class="list-group-item">Eligibility</li>
        <li class="list-group-item">Program Type</li>
    </ul>
</div>
