<div class="row mb-5 mb-lg-8 justify-content-center">
    <!-- Liquid Variables -->
    {% assign title = "Latest USAC News" %}
    <!-- Liquid Variables End -->
    <div class="col-12 mb-5 text-center">
        <h2 class="content-section-title">{{ title }}</h2>
        <a class="btn btn-primary btn-trailing-carat" href="#">View All</a>
    </div>
    <div class="col-12">
        <div id="cardCarousel" class="carousel slide">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                {% for i in (1..6) %}
                    {% if i == 1 %}
                        <div class="carousel-item col-12 col-md-4 active">
                            {% include components/cards/card-blog.html %}
                        </div>
                    {% else %}
                        <div class="carousel-item col-12 col-md-4">
                            {% include components/cards/card-blog.html %}
                        </div>
                    {% endif %}
                {% endfor %}
                <a id="test" class="carousel-control-prev" href="#cardCarousel" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left fa-lg text-muted"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next text-faded" href="#cardCarousel" role="button" data-slide="next">
                    <i class="fa fa-chevron-right fa-lg text-muted"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
