<div class="row mb-5">
    <div class="col">
        <div class="slick-carousel" role="listbox">
            {% for i in (1..6) %}
            <div class="slick-img-container">
                {% include components/cards/card-blog.html %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
