/*
  Mixin to do all of our gradients

  $list examples:
  - $ex1: $color1, $color2, $color3
  - $ex2: $color1 0%, $color2 25%, $color3 50%, $color4 75%, $color5 100%

  use examples:
  - @include gradient(left, $ex1)
  - @include gradient(bottom, $ex2)
*/
@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}

/*
  Mixin to "animate" linear gradient backgrounds

  Credit to this article: https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759

  This is a lightly modified version of the work from there.
*/
@mixin gradient-animation( $direction, $gradientToAnimateTo, $transTime ){
  background-size: 100%;
  position: relative;
  z-index: 100;
  &:before {
    background: linear-gradient($direction, $gradientToAnimateTo);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
     &:before {
       opacity: 1;
     }
  }
}

/*
  Mixin to add a box-shadow to your desired element

  Sizes are small, medium, and large

  Size will default to small
*/
@mixin boxShadow($size) {
  @if $size == 'large' {
    box-shadow: 0 15px 12px 0 rgba(0,0,0,0.08), 0 19px 38px 0 rgba(0,0,0,0.15);
  } @else if $size == 'medium' {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
  } @else {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.08);
  }
}

/*
  Mixin to add the styling for the semi-transparent banner over images

  Just include it and modify any of the values below if the pattern has slight differences from this
*/
@mixin blackBanner() {
  color: $white;
  // We don't have the actual font yet for this card
  font-family: $alt-font;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0;
  top: 15px;
  padding: 4px 20px;
  font-size: 0.875rem;
  line-height: 23px;
}

/*
  Mixing to handle media queries for us!

  ex: @include media(min, $breakpoint-desktop)
*/

@mixin media($media-query, $res: 0em, $res2: 0em) {
  @if $media-query == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and ( min--moz-device-pixel-ratio: 2),
    only screen and ( -o-min-device-pixel-ratio: 2/1),
    only screen and ( min-device-pixel-ratio: 2),
    only screen and ( min-resolution: 192dpi),
    only screen and ( min-resolution: 2dppx) {
      @content
    }
  }
  @if $media-query == min {
    @media screen and ( min-width: $res ) {
      @content
    }
  }
  @if $media-query == max {
    @media screen and ( max-width: $res ) {
      @content
    }
  }
}
