html
  body
    font-family: $primary-font
    color: $brand-black
    p
      font-size: 1rem
      line-height: 1.75rem
      -webkit-font-smoothing: antialiased

    a
      color: $primary

// Header Specific
h1, h2, h3, h4
  color: $brand-black
  font-family: $primary-font
  font-weight: 900

h1
  font-size: 1.75rem
  letter-spacing: -1px
  line-height: 1.625rem
  text-align: center

  @include media(min, $breakpoints-tablet)
    font-size: 3.5rem
    letter-spacing: -2px
    line-height: 2.0625rem
    text-shadow: 0 1px 1px 0 rgba(0,0,0,0.22)

h2
  font-size: 2rem
  letter-spacing: -1.14px
  line-height: 2.25rem

  @include media(min, $breakpoints-tablet)
    font-size: 2.25rem
    letter-spacing: -1.29px
    line-height: 2.1875rem

h3
  font-size: 1.3125rem
  font-weight: bold
  letter-spacing: -0.75px
  line-height: 2.1875rem

h4
  font-size: 1.125rem
  font-weight: bold
  letter-spacing: -0.64px
  line-height: 2.1875rem
