/**** Fonts ****/
$primary-font: "Myriad Pro", sans-serif;

// This isn't the correct alternate font! We still don't have it yet
$alt-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

/**** Colors ****/
$brand-black: #3A4454;
$cool-gray: #E8EEF2;
$teal: #133C58;
$white: #FFFFFF;
$black: #000000;
$pink: #DE9AFF;

//Primary: Dark Purple | Secondary: Teal
$primary: #712BA0;
$secondary: #0C7C97;

$primary-light: #B95BF9;
$secondary-light:#1BCEDF;

/****  Gradient Lists ****/
$gradient-light: $primary-light, $secondary-light;
$gradient-light-subtl: $primary-light -20%, $secondary-light 120%;
$gradient-dark: $primary, $secondary-light;
$gradient-subtle: $primary -20%, $secondary-light 120%;
$gradient-dark-alt: $primary, $secondary-light;

/****  Breakpoints ****/
/**
  * Bootstrap uses px's for breakpoints, so will we

  * Bootstrap's container widths for reference
  * col: < 576px
  * col-sm: >= 576px
  * col-md: >= 768px
  * col-lg: >= 992px
  * col-xl: >= 1200px
  */
$breakpoints-mobile-small: 575px;
$breakpoints-mobile: 767px;
$breakpoints-tablet: 991px;
$breakpoints-desktop: 1199px;

/****  Spacing ****/
/**
  * This lets us modify the margin/padding spacers.
  * Currently I've just expanded on the total number but we could also change the multiplier
  * or adjust what each size is being multiplied by.
  */
$spacer: 1rem !default;
$spacers: () !default;

// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 3.5),
    7: ($spacer * 4),
    8: ($spacer * 4.5),
    9: ($spacer * 5),
  ),
  $spacers
);
