.accordion

  &-title
    margin: 0
    padding-left: 30px

    .btn
      color: $black
      padding: 0
      letter-spacing: 0
      line-height: 0
      font-size: 16px
      text-transform: capitalize
      text-decoration: none
      width: 100%
      text-align: left
      height: 47px
      position: relative

      &:after
        content: "\f0d7"
        font-family: "Font Awesome 5 Free"
        color: $primary
        right: 20px
        height: 22px
        pointer-events: none
        position: absolute
        background-color: $white
        border-radius: 3px
        padding:
          top: 3px
          right: 7px
          left: 7px

    .btn-open
      display: inline-block
      font-family: $btn-font-family
      font-weight: $btn-font-weight
      color: $body-color
      text-align: left
      vertical-align: middle
      user-select: none
      background-color: transparent
      border: $btn-border-width solid transparent
      font-weight: bold
      @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius)
      @include transition($btn-transition)
      padding: 0
      text-decoration: none
      width: 100%
      height: 47px
      position: relative

      @include hover
        color: $body-color
        text-decoration: none

      &:after
        content: "\f0de"
        font-family: "Font Awesome 5 Free"
        color: $primary
        right: 20px
        height: 22px
        pointer-events: none
        position: absolute
        background-color: $white
        border-radius: 3px
        text-decoration: none
        padding:
          top: 3px
          right: 7px
          left: 7px
