.breadcrumb
  position: absolute
  background-color: $white
  padding: 0
    left: 30px
    top: 5px
    bottom: 5px
    right: 30px
  margin: 0
    top: 10px
    left: 20px
  width: max-content
  right: 10px
  @include media(min, $breakpoints-mobile)
    right: initial

  // &-nav is the parent element
  &-nav
    @include media(min, $breakpoints-mobile)
    position: relative
    z-index: 1
    padding: 0
    margin: 0
  li
    font-size: 12px
    a
      color: $brand-black
  li:nth-child(n+2)
    &:before
      content: '\f0da'
      font-family: 'Font Awesome 5 free'
      color: $brand-black
      font-size: 14px
  li:last-child
    &:before
      content: '\f0da'
      font-family: 'Font Awesome 5 free'
      color: $primary
      font-size: 14px
  .active
    @include media(min, $breakpoints-mobile)
    color: $primary
    font-weight: bold

