// Styles to override bootstrap's default button styles
.btn
  border-radius: 22.5px
  border: none
  padding: 15px 30px
  color: $white
  font-size: 0.875rem
  font-weight: 900
  letter-spacing: 2.19px
  line-height: 16px
  text-align: center
  text-shadow: 0 1px 1px 0 rgba(0,0,0,0.12)
  position: relative
  display: block
  text-transform: uppercase

  &:before
    border-radius: 22.5px

  @include media(min, $breakpoints-tablet)
    display: inline-block

  &-primary
    @include gradient(90deg, $gradient-dark)
    @include gradient-animation(90deg, $gradient-subtle, .3s)

  &-secondary
    background-color: $white
    color: $primary
    transition: all .3s

    &:after
      color: $primary

    &:hover, &:active, &:focus
      background-color: $primary
      color: $white

      &:after
        color: $white

    &-alt
      background-color: $cool-gray
      color: $primary
      transition: all .3s

      &:after
        color: $primary

      &:hover, &:active, &:focus
        background-color: $primary
        color: $white

        &:after
          color: $white


  &-tertiary
    background-color: $brand-black

    &:hover, &:active, &:focus
      background-color: darken($brand-black, 10%)
      color: $white

  &-no-border-radius
    border-radius: 0

    &:before
      border-radius: 0

  &-trailing-carat
    &:after
      content: "\f0da"
      font-family: 'Font Awesome 5 Free'
      height: 12px
      font-size: 0.75rem
      pointer-events: none
      position: absolute
      right: 20px

      @include media(min, $breakpoints-tablet)
        right: 15px

  &-dropdown
    background-color: $white
    color: $primary

    &:after
      color: $primary

    &:hover, &:active, &:focus
      background-color: $primary
      color: $white

      &:after
        color: $white
