.carousel

  &-indicators
    li
      width: 12px
      height: 12px
      border-radius: 100%
      border: none

  &-images
    position: relative
    padding: 0
    background: $white

    &-content
      position: absolute
      bottom: 0%
      margin: 0 auto
      width: 100%
      text-align: center

      .cta-group
        .btn
          margin:
            right: 10px
            left: 10px

          &:first-of-type
            margin:
              bottom: 15px

      @include media(min, $breakpoints-mobile)
        bottom: 20%

        .cta-group
          .btn
            margin:
              right: 0px
              left: 0px

            &:first-of-type
              margin:
                bottom: 0px

    &-header
      color: $white
      font-size: 2.375rem
      line-height: 2.375rem
      font-weight: 900
      letter-spacing: -2px

      @include media(min, $breakpoints-mobile)
        font-size: 3.5rem
        line-height: 3.5rem

    .carousel-control-prev, .carousel-control-next
      top: 45%

    .carousel-control-prev
      left: 30px

    .carousel-control-next
      right: 30px

/* Button Styling */
.carousel-control-prev, .carousel-control-next

  @include media(min, $breakpoints-mobile)
    @include boxShadow('small')
    width: 42px
    height: 42px
    background: $white
    color: $brand-black
    opacity: 1 !important
    top: 40%
    border-radius: 21px

/**
  * This is essentially everything needed to make our card carousel with a couple small additions:
  *
  * https://www.codeply.com/go/s3I9ivCBYH/bootstrap-4-responsive-carousel-one-at-a-time
  * It just feels a little heavy and like I could lighten the code a decent chunk.
  * Will loop back to this because this is a pretty heavy handed solution to this problem
  */

#cardCarousel
  @include media(min, $breakpoints-mobile)
    .carousel-item
      margin-right: 0

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
      display: block

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
      transition: none

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev
      position: relative
      transform: translate3d(0, 0, 0)

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
      position: relative
      transform: translate3d(-100%, 0, 0)
      visibility: visible

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right
      position: absolute
      top: 0
      left: 0
      z-index: -1
      display: block
      visibility: visible

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
      position: relative
      transform: translate3d(100%, 0, 0)
      visibility: visible
      display: block
      visibility: visible



