.dropdown

  &-menu
    padding: 0

  &-item
    font-weight: bold
    padding: 0.9rem 1.5rem

    &-dark
      background-color: $cool-gray

      &:hover
        background-color: $white !important

    &:after
      content: "\f0da"
      font-family: "Font Awesome 5 Free"
      padding: 0px 8px 0px 10px
      right: 10px
      font-size: 0.75rem
      pointer-events: none
      position: absolute
      background-color: $white
      border-radius: 3px
      color: $primary
      font-size: 1rem

    &:hover
      background-color: $cool-gray

  &-toggle-open
    &:after
      display: inline-block
      margin-left: 0.225em
      content: "\f0d8"
      font-family: "Font Awesome 5 Free"
      color: $primary
      right: 0px
      pointer-events: none
      position: relative

