.form-group
  font-weight: bold
  width: 540px

.form-inline
  font-weight: bold

  label
    margin: 0
    padding-right: 5px
    padding-bottom: 8px

  button
    padding: 11px 30px

    &:after
      content: "\f0da"
      font-family: "Font Awesome 5 Free"
      right: 1rem
      font-size: 0.75rem
      pointer-events: none
      position: absolute
      color: $white
      font-size: 1rem

form
  h5
    font-weight: bold

.form-row > div > button
  padding: 11px 30px

  &:after
    content: "\f0da"
    font-family: "Font Awesome 5 Free"
    right: 1rem
    font-size: 0.75rem
    pointer-events: none
    position: absolute
    color: $white
    font-size: 1rem

.input-group-transaction
  .input-group
    width: 241px
    float: left

  button
    margin-left: 20px
    padding: 11px 30px

    &:after
      content: "\f0da"
      font-family: "Font Awesome 5 Free"
      right: 1rem
      font-size: 0.75rem
      pointer-events: none
      position: absolute
      color: $white
      font-size: 1rem

/**
  * Bootstrap doesn't have a warning form state by default. So rather than
  * overriding the $form-validation-states variable adn adding in a third option
  * we added this handy little class which does everything for us.
  */
.is-warning
  border-color: $yellow
  background: url('/assets/svgs/exclamation-triangle-solid.svg')
  padding-right: calc(1.5em + 0.75rem)
  background-repeat: no-repeat
  background-position: center right calc(0.375em + 0.1875rem)
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)

.custom-file-label
  width: 260px

  &:after
    @include gradient(to right, $gradient-dark)
    color: white
    font-weight: bold
    text-transform: uppercase
    font-size: .725rem
    height: auto
    justify-content: center
    text-align: center
    padding: 10px 20px

.success
  color: $green

.warning
  color: $yellow

.danger
  color: $red






