.carousel-images-content
  .cta-group
    position: relative
    top: 83px
    @include media(min, $breakpoints-mobile)
      top: 0px

#imageCarousel
  .carousel-indicators
    position: absolute
    right: 0
    bottom: initial
    left: initial
    z-index: 15
    display: flex
    margin-right: 0.5%
    margin-left: initial
    list-style: none
    height: 100%
    flex-direction: column
    @include media(min, $breakpoints-mobile)
      position: absolute
      flex-direction: row
      bottom: 0
      left: 0
      z-index: 15
      display: flex
      justify-content: center
      padding-left: 0
      margin-right: 15%
      margin-left: 15%
      height: auto
      list-style: none
    li
      margin-bottom: 4px
      @include media(min, $breakpoints-mobile)
        margin-bottom: initial


