.jumbotron
  text-align: center

  &-title
    font-weight: 900
    font-size: 1.5rem
    line-height: normal
    @include media(min, $breakpoints-mobile)
      font-weight: bold
      font-size: 3.5rem

  &-content
    padding-left: .25rem
    padding-right: .25rem
    max-width: 800px
    margin: 0 auto
    @include media(min, $breakpoints-mobile)
      padding-left: 1.25rem
      padding-right: 1.25rem

