<div class="row">
    <div class="col card card-course">
        <div class="card-body card-course-body">
            <h5 class="card-title card-course-title">Advanced Chinese History</h5>
            <p class="card-text card-course-text">This course will be a survey of China’s history from the birth of
                civilization up to the modern era. We will examine the evolution and development of tradition, culture,
                philosophical thought, political organization, social structure, economic institutions, religious
                practice, and foreign relations in China. We will also compare social institutions and technological
                developments as they emerged in China and the West.</p>
            <span class="badge badge-pill badge-primary">Fall</span>
            <span class="badge badge-pill badge-primary">History</span>
            <span class="badge badge-pill badge-primary">3 Credits</span>
            <span class="badge badge-pill badge-primary">400-Level</span>
        </div>
    </div>
</div>
