<div class="card card-experience">
    <img class="card-img-top" src="/assets/svgs/logo.svg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">
            Alicante has been absolutely amazing. the staff have made the program an amazing experience.
        </p>
        <p class="card-text card-text-reviewer">
            Matt Bishop
        </p>
        <p class="card-text card-text-university"><small>Clemson University</small></p>
        <p class="card-text card-text-location"><small>Participant in Alicante, Spain</small></p>
    </div>
</div>
