<div class="card card-location">
    <div class="card-body">
        <h5 class="card-title">Location</h5>
        <div class="card-location-list">
            <ul class="hidden">
                <li>
                    <a href="#">City #1</a>
                </li>
                <li>
                    <a href="#">City #2</a>
                </li>
                <li>
                    <a href="#">City #3</a>
                </li>
                <li>
                    <a href="#">City #4</a>
                </li>
                <li>
                    <a href="#">City #5</a>
                </li>
                <li>
                    <a href="#">City #6</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-footer">
       <button class="card-location-toggle">View Cities</button>
    </div>
</div>
