<div class="card card-blog">
    <img class="card-img-top" src="https://picsum.photos/id/28/600/400" alt="">
    <div class="card-blog-top-banner">Image banner</div>
    <div class="card-body">
        <h3 class="card-title">India summer program applications are nearing</h3>
    </div>
    <div class="card-footer">
        <a href="#" class="card-blog-link">Read More</a>
    </div>
</div>
