<div class="card card-text-only">
    <div class="card-body">
        <p class="card-text">
            Study at one of the most beautiful campuses in Spain with gorgeous
            landscaping, modern architecture, and a modern sports center,
            indoor swimming pool, and other facilities.
        </p>
    </div>
</div>
