.card-experience-slick

.card-experience
  background: $brand-black
  border-radius: .5rem
  height: 388px
  width: 290px
  .card-img-top
    width: 64px
    height: 64px
    margin:
      top: 1.875rem
      left: 1.875rem
  .card-body
    text-align: left
    padding: 1.875rem
      top: .5rem
    .card-text
      @include gradient(135deg, $gradient-light)
      color: transparent
      background-clip: text
      -webkit-background-clip: text
      font-size: 1.1rem
      font-weight: bold
      letter-spacing: -0.75px
      line-height: 20px
      height: auto
      &-reviewer
        line-height: 1.1rem
        margin:
          bottom: 10px
      &-university
        line-height: 1rem
        margin: 0
        font-size: 1rem
      &-location
        line-height: 1rem
        font-size: 1rem


