// The .card-text class is already used by bootstrap
.card-text-only
  background: $brand-black
  .card-body
    padding: 1.875rem

  .card-text
    @include gradient(135deg, $gradient-light)
    color: transparent
    background-clip: text
    -webkit-background-clip: text
    font-size: 1.3125rem
    font-weight: bold
    letter-spacing: -0.75px
    line-height: 29px
