.card-deck
  &-location
    // display: grid
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    // grid-gap: 1rem
    display: flex
    justify-content: space-around
    flex-wrap: wrap

.card-location
  max-height: 225px
  background-image: url('https://picsum.photos/id/869/290/360')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  // Oddly enough adding a background image to this doens't show the .25rem border radius most cards have, we have to double the default
  border-radius: 0.5rem
  @include media(min, $breakpoints-mobile)
    min-height: 360px
    margin-right: 30px
    min-width: 250px

  &-list

    ul
      width: 100%
      height: 295px
      margin: 0
      position: absolute
      left: 0
      bottom: 0
      display: none

      li
        @include gradient(left, $gradient-subtle)
        position: relative

        a
          width: 100%
          height: 100%
          opacity: 1
          display: block
          text-align: left
          color: $white
          font-size: 1.125rem
          font-weight: bold
          line-height: 1.125rem
          padding: 0.75rem 1.25rem
          text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5)

          &:after
            content: "\f105"
            font-family: 'Font Awesome 5 Free'
            color: $white
            right: 10px
            top: 12px
            height: 22px
            font-size: 1.375rem
            position: absolute
            pointer-events: none

  &-toggle
    width: 100%
    height: 100%
    text-align: left
    color: $white
    font-size: 1.125rem
    padding: 0.75rem 1.25rem
    font-weight: bold
    line-height: 1.125rem
    text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5)

    &:after
      content: "\f107"
      font-family: 'Font Awesome 5 Free'
      color: $white
      right: 10px
      top: 12px
      height: 22px
      font-size: 1.375rem
      position: absolute
      pointer-events: none

  .card-footer
    @include gradient(left, $gradient-subtle)
    // Remove the footer padding so the button takes up the entirety of the space
    padding: 0
    opacity: .95
    cursor: pointer
    position: relative

  .card-title
    color: $white
    font-size: 1.125rem
    font-weight: bold
    line-height: 1.125rem
    text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5)
    padding: 0 1.25rem

  .card-body
    height: 275px
    padding:
      left: 0
      right: 0



