.card-course
  border: none
  @include media(min, $breakpoints-mobile)
    padding: 0px

  &-body
    background-color: $cool-gray
    border-radius: 10px

  &-title
    font-weight: bold
    font-size: 21px

  &-text
    font-size: 14px
    line-height: 24px





