.card-blog
  @include boxShadow('small')
  border-radius: 0.5rem
  img
    border-top-right-radius: 0.5rem
    border-top-left-radius: 0.5rem
  &-top-banner
    @include blackBanner()

  &-link
    display: block
    position: relative
    color: $primary
    text-transform: capitalize
    font-weight: 900
    letter-spacing: 2.19px
    line-height: 16px
    text-shadow: 0 1px 1px 0 rgba(0,0,0,0.12)

    &:after
      color: $primary
      content: "\f105"
      font-family: 'Font Awesome 5 Free'
      right: 0px
      top: 0px
      height: 22px
      font-size: 1.375rem
      position: absolute
      pointer-events: none

    &:hover
      text-decoration: none
      color: $brand-black

      &:after
        color: $brand-black

  .card-title
    color: $brand-black
    font-size: 1.3125rem
    font-weight: 900
    letter-spacing: -0.75px
    line-height: 26px

  .card-body
    padding:
      top: 30px
      left: 30px
      right: 30px
      bottom: 40px

  .card-footer
    background-color: $white
