<div class="color-splash">
    <div class="color-splash-container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8">
                <img class="color-splash-image" src="https://picsum.photos/id/27/720/820" alt="">
                <div class="color-splash-banner">Image Banner</div>
            </div>
        </div>
    </div>
</div>
