<div class="content-section">
    {% if centeredTitle %}
        <h2 class="content-section-title text-center">{{ title }}</h2>
    {% else %}
        <h2 class="content-section-title">{{ title }}</h2>
    {% endif %}
    <div class="content-section-content">
        {{ content}}
    </div>
    {% if useCTAGroup %}
        {% include components/cta-group.html %}
    {% endif %}
</div>

