<div class="cta-group justify-content-center" role="group" aria-lable="CTA Group Cutup">
    <a href="#" class="btn btn-primary btn-trailing-carat">Learn More</a>
    <a href="#" class="btn btn-secondary btn-trailing-carat">View Term</a>
</div>
