<div class="input-group filter-bar">
    <div class="row">
        <div class="col-12 col-lg-3">
            <!-- Topic to Study -->
            <div class="filter-bar-dropdown no-border">
                <div class="filter-bar-dropdown-title">I want to study</div>
                <select class="w-100">
                    <option selected>Anything</option>
                    <option value="1">Option One</option>
                    <option value="2">Option Two</option>
                    <option value="3">Option Three</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="filter-bar-dropdown">
                <div class="filter-bar-dropdown-title">In</div>
                <select class="w-100">
                    <option selected>Any Location</option>
                    <option value="1">Option One</option>
                    <option value="2">Option Two</option>
                    <option value="3">Option Three</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="filter-bar-dropdown">
                <div class="filter-bar-dropdown-title">During</div>
                <select class="w-100">
                    <option selected>Any Session</option>
                    <option value="1">Option One</option>
                    <option value="2">Option Two</option>
                    <option value="3">Option Three</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-2">
            <button class="btn btn-primary w-100 h-100">Go</button>
        </div>
    </div>
</div>
