<div class="quoter">
    <div class="gradient-border-quote">
    <div class="gradient-border-quote-top"></div>
        <p>
            This place has blown my expectations out of the water. I knew that it would be pretty but I had no idea I
            would
            love it this much.
        </p>
    </div>
    <div class="gradient-border-quote-bottom"></div>
</div>
