.color-splash

  &-container
    background:
      image: url('/assets/images/watercolor-background.jpg')
      position: center center
      repeat: no-repeat
      size: contain

  &-image
    border-radius: 100px 0px 100px 0px
    width: 100%

  &-banner
    @include blackBanner()
    top: 25px
    right: 15px
