.content-section

  &-title
    font-size: 2rem
    letter-spacing: -1.14px
    line-height: 38px
    margin-bottom: 30px

    @include media(min, $breakpoints-tablet)
      font-size: 2.625rem
      letter-spacing: -1.5px
      line-height: 47px

  &-content
    margin-bottom: 30px

    ul
      list-style: disc
      font-size: 1rem
      line-height: 27px

      li
        padding:
          left: 20px
        margin:
          bottom: 20px

        &:last-child
          margin:
            bottom: 0px
