// Study Abroad Detail
.study-abroad
  &-content
    position: relative
    top: 95px
    @include media(min, $breakpoints-mobile)
      top: 50px

    h4
      font-size: 0.85rem
      line-height: 25px
      @include media(min, $breakpoints-mobile)
        line-height: 37px
        margin:
          bottom: 37px
    p
      line-height: 37px

// Usac Courses
.courses-content
  position: relative
  top: 20px
  @include media(min, $breakpoints-mobile)
    top: 50px
  h4
    line-height: 1.5rem

  @include media(min, $breakpoints-mobile)
    line-height: 37px
    margin:
      bottom: 37px


