.cta-bar-section
  font-weight: bold
  background-size: cover
  width: 100%
  margin-bottom: 0

  &-title
    padding-bottom: 15px

    .cta-group a:first-child
      margin-bottom: 20px

      @include media(min, $breakpoints-mobile)
        margin-bottom: 0
