.cta-group
  display: flex
  flex-direction: column

  @include media(min, $breakpoints-mobile)
    flex-direction: row

  .btn:first-of-type
    @include media(min, $breakpoints-mobile)
      margin:
        right: 15px

  a:first-child
    margin:
      bottom: 7px
    @include media(min, $breakpoints-mobile)
      margin:
        bottom: initial



