.filter-bar
  background: $white
  border-radius: 7px
  display: block
  @include boxShadow('large')
  margin:
    top: -60px
    bottom: 45px
  padding:
    top: 20px

  @include media(min, $breakpoints-tablet)
    padding:
      top: 0
      left: 20px
    margin:
      bottom: 70px

  &-dropdown
    width: auto
    position: relative
    border:
      top: 1px solid $cool-gray
    padding:
      top: 10px
    margin:
      left: 30px
      right: 30px

    @include media(min, $breakpoints-tablet)
      border:
        top: none
        left: 1px solid $cool-gray
      padding:
        top: 0px
        left: 15px
      margin:
        top: 10px
        right: 0px
        left: 0px
        bottom: 10px

    select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      position: relative
      background: $white
      border: none
      padding:
        top: 0px
        bottom: 15px
        left: 0
        right: 22px
      font-size: 1.875rem

      /* IE11 hide native button */
      &:-ms-expand
        display: none

      @include media(min, $breakpoints-tablet)
        font-size: 1.75rem
        padding:
          bottom: 0px
          right: 10px

    &:after
      content: "\f0d7"
      font-family: 'Font Awesome 5 Free'
      color: $primary
      right: 0px
      top: 34px
      height: 22px
      font-size: 1.375rem
      position: absolute
      pointer-events: none

      @include media(min, $breakpoints-tablet)
        top: 20px

  &-dropdown-title
    color: $primary
    text-transform: uppercase
    font-weight: 900
    font-size: 0.75rem

  .btn
    @include gradient(-45deg, $gradient-dark)
    @include gradient-animation(-45deg, $gradient-subtle, .3s)
    font-size: 1.1875rem
    font-weight: 900
    line-height: 23px
    border-radius: 0 0px 5px 5px
    text-transform: uppercase

    &:before
      border-radius: 0 0px 5px 5px

    @include media(min, $breakpoints-tablet)
      border-radius: 0 5px 5px 0

      &:before
        border-radius: 0 5px 5px 0

  .no-border
    border: none





