.footer
  background-image: url('/assets/images/footer-image.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

  @include media(min, $breakpoints-desktop)
    background-position: top

  .container
    padding:
      bottom: 50px

  &-about
    margin:
      top: 40px
      bottom: 40px

    &-logo

      a
        background-image: url('/assets/svgs/logo-horizontal-white.svg')
        background-size: 200px 75px
        background-repeat: no-repeat
        display: block
        height: 75px
        width: 100%

    &-content
      color: $white
      margin:
        top: 15px
        bottom: 25px

    &-social-icons

      a
        font-size: 1.75rem

  &-menu
    margin:
      top: 0px

    @include media(min, $breakpoints-tablet)
      margin:
        top: 50px

    &-title
      height: 26px
      width: 210px
      color: $white
      font-size: 1.3125rem
      font-weight: 900
      letter-spacing: -0.75px
      line-height: 26px
      margin:
        bottom: 15px

    ul
      li
        padding:
          left: 30px
        margin:
          bottom: 20px
        a
          height: 56px
          width: 289px
          color: $white
          font-weight: 600
          line-height: 18px
          text-decoration: none

        &:before
          content: "\f0da"
          font-family: 'Font Awesome 5 Free'
          height: 12px
          font-size: 0.75rem
          pointer-events: none
          position: absolute
          left: 15px
          color: $white

  &-bottom
    background-color: rgba(19,60,88,0.8)
    color: $white

    a
      color: $white
      text-decoration: none

    .container
      padding:
        bottom: 0

  &-social-icon
    display: inline-block
    margin-right: 10px

    &:after
      content: ""
      display: block
      height: 32px
      width: 32px
      background-position: center center
      background-repeat: no-repeat

    &-instagram
      &:after
        background: url('/assets/svgs/instagram.svg')

    &-facebook
      &:after
        background: url('/assets/svgs/facebook.svg')

    &-twitter
      &:after
        background: url('/assets/svgs/twitter.svg')
