.gradient-border
  @include gradient(left, $gradient-dark)
  height: 5px
  &-quote
    @include media(min, $breakpoints-mobile)
      @include gradient(top, $gradient-dark)
      height: auto
      max-width: 3px
    &-top
      @include gradient(left, $gradient-dark)
      height: 3px
      @include media(min, $breakpoints-mobile)
        display: none
    &-bottom
      @include gradient(left, $gradient-dark)
      height: 3px
      @include media(min, $breakpoints-mobile)
        display: none
