.header
  width: 100%
  height: 80px
  position: fixed
  background-color: $white
  z-index: 1000

  @include media(min, $breakpoints-desktop)
    display: none

  &-container
    height: 100%
    padding: 15px

  &-menu-button
    display: inline-block
    cursor: pointer
    height: 50px
    width: 50px
    background-color: $cool-gray
    font-size: 1.875rem
    border: 0
    margin:
      right: 10px

    svg
      display: block
      margin: 0 auto

  &-logo
    display: inline-block
    vertical-align: top
    height: 100%
    position: relative

    a
      background-image: url('/assets/svgs/logo.svg')
      background-repeat: no-repeat
      background-size: 80px 50px
      position: absolute
      height: 50px
      width: 80px

  &-cta
    position: absolute
    right: 15px
    top: 24px
    color: $white

    &:hover
      .btn
        background-color: green

    .btn
      padding: 10px 24px
      line-height: 12px
      font-size: .75rem
      font-weight: 900
      letter-spacing: 0.86px

    .apply
      display: block
