.hero
  // Can add a background-image here to create a default image if needed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  min-height: 280px
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end

  @include media(min, $breakpoints-tablet)
    min-height: 400px

  @include media(min, $breakpoints-desktop)
    min-height: 590px

  &-header
    color: $white
    font-size: 1.75rem
    line-height: 33px
    text-align: center
    margin-bottom: 20px

    @include media(min, $breakpoints-tablet)
      font-size: 3.5rem
      letter-spacing: -2px
      line-height: 33px
      text-shadow: 0 1px 1px 0 rgba(0,0,0,0.22)

  &-header-alt
    font-family: $alt-font

