.hero-cta
  margin:
    bottom: 0
  h1
    position: absolute
    padding:
      bottom: 20px
    width: 100%
    @include media(min, $breakpoints-mobile)
      position: initial
      margin: inherit
      margin:
        bottom: 2rem

  &-mobile
    .cta-group
      position: relative
      top: 100px
      margin: 0 auto
      @include media(min, $breakpoints-mobile)
        top: initial

    &-bar
      position: absolute
      background-color: $cool-gray
      height: 132px
      width: 100%
      bottom: 0px
      z-index: -1
      margin-bottom: -90px
      @include media(min, $breakpoints-mobile)
        display: none

