.icon-list
  margin: 0 auto
  width: 930px
  display: flex
  justify-content: space-between
  margin:
    top: -120px
    bottom: 100px

  &-mobile
    margin: 0 auto
    width: 930px
    display: block !important

    .card

      &-list-item
        width: 139px
        text-align: center
        border-radius: 6px
        box-shadow: 0 15px 12px 0 rgba(0,0,0,0.08), 0 19px 38px 0 rgba(0,0,0,0.15)

      &-icon
        height: 64px
        width: 64px
        margin: 0 auto
          top: 15px

      > p
        color: $brand-black


.card

  &-list-item
    width: 139px
    text-align: center
    border-radius: 6px
    box-shadow: 0 15px 12px 0 rgba(0,0,0,0.08), 0 19px 38px 0 rgba(0,0,0,0.15)

  &-icon
    height: 64px
    width: 64px
    margin: 0 auto
      top: 15px

  > p
    color: $brand-black



