.image-separator
  // Can add a background-image here to create a default image if needed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  flex-direction: column
  justify-content: flex-end
  display: flex
  min-height: 300px

  @include media(min, $breakpoints-tablet)
    min-height: 500px

  @include media(min, $breakpoints-desktop)
    min-height: 650px
