.image-grid
  background: $white

  .row
    margin:
      right: 0
      left: 0

  &-col
    display: none
    justify-content: center
    align-items: center
    overflow: hidden
    padding: 1px

    //This is just for the text block
    flex-direction: column

    @include media(min, $breakpoints-tablet)
      display: flex

    img
      flex-shrink: 0
      min-width: 100%
      min-height: 100%

  &-mobile-item
    display: flex
    margin:
      bottom: 3rem

    @include media(min, $breakpoints-tablet)
      margin:
        bottom: 0rem

