.list-style
  &-content
    li
      a
        border-bottom: 2px solid $primary
        font-weight: bold
      &:before
        content: "\2022"
        color: $teal
        font-family: $primary-font
        display: inline-block
        width: 1em

