.page-item
  margin:
    left: 3.5px
    right: 3.5px
  .page-link
    color: $brand-black
    border-radius: 3px
    &:active
      @include gradient(to bottom right, $gradient-dark)
      color: $white
      font-weight: bold
    &-dark
      background-color: $cool-gray
      &:active
        @include gradient(to bottom right, $gradient-dark)
        color: $white
        font-weight: bold
  &:first-child
    .page-link
      border-radius: 3px
  &:last-child
    .page-link
      border-radius: 3px

.arrow-prev
  &:after
    content: '\f104'
    font-family: "Font Awesome 5 Free"
    color: $brand-black

.arrow-next
  &:after
    content: '\f105'
    font-family: "Font Awesome 5 Free"
    color: $brand-black
