.quoter
  margin: 0 auto
    top: 35px
    bottom: 35px
  font-family: $alt-font
  @include media(min, $breakpoints-mobile)
    max-width: 650px
  p
    font-size: 28px
    margin: 0 auto
    margin:
      top: 20px
      bottom: 20px
    text-align: center
    @include media(min, $breakpoints-mobile)
      min-width: 650px
      text-align: left
      margin:
        left: 30px
        top: 0
        bottom: 0
