.site-menu
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -300px
  background-color: $white
  transition: 300ms ease all

  @include media(min, $breakpoints-desktop)
    left: 0
    width: 100%

  &-sticky

    @include media(min, $breakpoints-desktop)
      position: sticky
      top: 0

  &-cta-container
    width: 100%

    .btn
      flex-grow: 5
      font-size: .75rem
      padding: 16px
      text-transform: uppercase

      &-primary
        @include gradient(135deg, $gradient-subtle)
        @include gradient-animation(135deg, $gradient-dark, .3s)

      @include media(min, $breakpoints-desktop)
        padding: 16px 5px
        letter-spacing: 1.88px

  &-search-input
    border: 0
    flex-grow: 8

  &-search-submit
    @include gradient(135deg, $gradient-subtle)
    @include gradient-animation(135deg, $gradient-dark, .3s)
    font-size: 1.25rem
    flex-grow: 2

  &-container

    @include media(min, $breakpoints-desktop)
      border-top: 1px solid $cool-gray

    .navbar
      padding: 0

    .form-row
      flex-wrap: nowrap
      margin: 0

    .is-drilldown
      width: 100% !important
      overflow-y: auto
      // 283 =  height of logo container + cta container
      height: calc(100vh - 283px)

    .nav
      button
        border: 0

    .nav-item
      color: $brand-black
      border-top: 1px solid $cool-gray
      display: flex

      &:last-child
        border-bottom: 1px solid $cool-gray

  &-nav-button
    width: 24px
    height: 24px
    font-size: 0.875rem
    color: $primary !important
    top: 12px
    cursor: pointer
    position: relative
    padding: 10px !important
    background-color: $cool-gray !important

    svg
      position: absolute
      top: 6px

    &-right
      right: 10px

  &-logo
    display: none
    text-align: center
    padding: 40px

    @include media(min, $breakpoints-desktop)
      display: block

    &-image
      width: 120px
      height: auto

    &-text
      font-size: 1.125rem
      letter-spacing: -0.64px
      line-height: 33px
      margin:
        top: 10px

      &-alt
        color: $primary
        font-family: $alt-font

  &-link
    flex-basis: 100%

  &-current-location
    background-color: $cool-gray
    color: $black
    font-weight: bold
    width: 100%

  &-main-menu-link
    display: block
    position: relative

    a
      color: $black
      cursor: pointer
      padding:
        left: 60px !important
      font-weight: bold

      &:before
        content: "\f0d9"
        font-family: 'Font Awesome 5 Free'
        color: $primary
        background-color: $cool-gray
        left: 10px
        top: 13px
        height: 24px
        width: 24px
        font-size: .875rem
        padding: 5px 10px
        position: absolute
        pointer-events: none
        border: none

  .drilldown

    .nav-item
      a
        color: $black
        &:after
          display: none

    .js-drilldown-back
      color: $brand-black
      font-weight: bold
      border-top: 1px solid $cool-gray

      .custom-back
        cursor: pointer
        padding: 0
        margin:
          left: 60px

        &:before
          cursor: pointer
          content: "\f0d9"
          font-family: 'Font Awesome 5 Free'
          color: $primary
          background-color: $cool-gray
          left: 10px
          top: 13px
          height: 24px
          width: 24px
          font-size: .875rem
          padding: 5px 10px
          position: absolute
          pointer-events: none
          border: none

