.site
  @include boxShadow('small')
  background: $white
  position: relative
  width: 100%
  max-width: 1600px
  margin: 0 auto

  &-container
    width: 100%
    height: 100%
    position: relative
    transform: translateX(0)
    transition: 300ms ease all

    @include media(min, $breakpoints-desktop)
      display: flex
      transform: translateX(0)

  &-content
    //overflow: hidden
    @include media(min, $breakpoints-desktop)
      flex-basis: 80%

    main
      padding-top: 80px

      @include media(min, $breakpoints-desktop)
        padding-top: 0px

  &-show-menu
    .site-container
      transform: translateX(300px)

      @include media(min, $breakpoints-desktop)
        transform: translateX(0)

    .menu
      transform: translateX(0px)

  &-main-menu

    @include media(min, $breakpoints-desktop)
      flex-basis: 20%
      position: relative


