.slick
  &-slider
    display: grid !important
    grid-template-columns: 30px auto 30px
    width: 974px
    margin: 0 auto
  &-img
    &-container

      height: 388px
      max-width: 290px
      margin: 0 auto
        right: 20px
        left: 5px

  &-next
    position: relative
    margin-left: -35px
    background-color: white
    border-radius: 50%
    height: 42px
    width: 42px
    top: 45%
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.08)
    z-index: 1

  &-prev
    position: relative
    margin-left: 11px
    background-color: white
    border-radius: 50%
    height: 42px
    width: 42px
    top: 45%
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.08)
    z-index: 1

.slick-carousel-mobile.slick-slider
  display: block !important
  margin:
    top: -70px
  .icon-list-card
    width: 130px
    text-align: center
    margin:
      right: 15px
      left: 15px
    img
      margin: 0 auto
      width: 64px
      height: 64px
      padding:
        top: 15px
  .card-body
    padding:
      left: .5rem
      right: .5rem
  .card-text
    font-size: 16px


