<!DOCTYPE html>
<html lang="en">
    {% include global/head.html %}
    <body>
        <div class="site">
            <div class="site-container">
                <div class="site-main-menu">
                    {% include global/menu.html %}
                </div>
                <div class="site-content">
                    {% include global/header.html %}
                    {{ content }}
                    {% include global/footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
